body{

  margin-left: 0;
  margin-right: 0;
  margin-top: 0;

}




h1{

  margin-bottom: 0;
  margin-top: 0;
}

 .top-container{
   background-color: #6bd5e1;

 }

.middle-container{
  background-color: #ffd98e;
  height: 200px;
  width: 200px;

}

.bottom-container{
  background-color: #ffb677;
  height: 200px;
  width: 200px;
}
.pro{
  text-decoration: underline;
}
